@media screen and (max-width: 768px) {
  /*------------------------------------------------*/
  /*                     GENERAL STYLES             */
  /*------------------------------------------------*/
  body {
    font-size: 14px;
  }

  h1,
  h2 {
    font-size: 22px;
    letter-spacing: 0;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    letter-spacing: 0;
  }

  a {
    font-size: 16px;
  }

  .pageWrapper {
    margin: 0 !important;
  }

  /*------------------------------------------------*/
  /*                     HEADER                     */
  /*------------------------------------------------*/

  .siteHeader {
    flex-direction: column;
    align-items: center;
  }

  .siteLinkHome {
    padding: 21px 0 0 32px;
  }

  .siteLogo {
    height: 45px;
  }

  .siteNav {
    width: 100%;
    position: relative;
    margin-top: 15px;
  }

  .siteNav__list {
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 0;
    text-align: center;
  }

  .siteNav__list::after {
    content: "";
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 3px;
    background-color: var(--color-page-bg);
    bottom: 0;
    left: 0;
  }

  .siteNav__item {
    flex: 50%;
    margin: 0 0 0 0;
  }

  .siteNav__link {
    padding: 16px 0 16px 0;
    position: relative;
    display: block;
    letter-spacing: 0.006em;
  }

  .siteNav__link:hover::before {
    display: none;
  }

  .siteNav__link:hover::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
  }

  .-active {
    color: var(--color-primary);
  }

  .-active::before {
    display: none;
  }

  .-active::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
  }
}

/*------------------------------------------------*/
/*                     MAIN                       */
/*------------------------------------------------*/
/* Main Section Search */

.sectionSearch {
  margin-top: 30px;
  padding: 0 5%;
}

.sectionSearch__pageTitle {
  margin: 12px 0;
}

.form {
  margin-top: 35px;
}

.inputGroup {
  justify-content: center;
}

.inputGroup__iconMarker {
  padding: 16px 20px;
  font-size: 20px;
  border-radius: 17px 0 0 17px;
}

.inputGroup__text {
  min-width: 170px;
  padding: 15px 10px 14px 10px;
  font-size: 18px;
  font-weight: 600;
  border-top: 1px solid var(--color-page-bg);
  border-bottom: 1px solid var(--color-page-bg);
}

.inputGroup__btn {
  padding: 0;
  border-radius: 0 17px 17px 0;
}

.inputGroup__btn i {
  display: block;
  font-size: 18px;
  padding: 17px;
}

.-btnText {
  display: none;
}

.filterGroup {
  margin-top: 15px;
}

.filterGroup__title {
  font-size: 18px;
}

.filterGroup__item {
  font-size: 16px;
  padding: 14px 20px 14px 60px;
}

.filterGroup__item::before {
  width: 50px;
  height: 50px;
  font-size: 16px;
  padding-top: 16px;
  padding-left: 16px;
}

.filterGroup__item:nth-child(2)::before {
  padding-left: 19px;
}
.filterGroup__item:nth-child(3)::before {
  padding-left: 17px;
}

.infoGroup {
  margin-top: 30px;
  padding-left: 36px;
}

.infoGroup__hostNbr {
  position: relative;
  line-height: 20px;
}

.infoGroup__hostNbr::before {
  width: 24px;
  height: 24px;
  font-size: 12px;
  padding: 1px 9px;
  position: absolute;
  left: -36px;
  top: -2px;
}

/* Main Section Results */
/* Hosts & Most Popular  */
.sectionResult {
  margin-top: 35px;
}

.mostPopular {
  border-radius: 0;
  padding: 7% 5% 7% 5%;
}

.mostPopular__container {
  margin-top: 15px;
}

.mostPopular__img {
  width: 170px;
  min-width: 130px;
  height: 134px;
}

.mostPopular__info {
  padding: 2.5% 7.5% 2% 7.5%;
}

.mostPopular__price,
.cardsContainer__price {
  font-size: 14px;
}

.cardsContainer__hostRate {
  font-size: 15px;
}

.mostPopular__hostRate {
  font-size: 14px;
}

.mostPopular__titleIcon {
  font-size: 20px;
}

.cardsContainer__link {
  flex: 1 1 100%; /* grow shrink basis */
  margin: 1.5% 1%;
}

.cardsContainer__img {
  height: 115px;
}

.searchResults {
  padding: 6.5% 5% 2% 5%;
}

.searchResults__more {
  margin-top: 15px;
  text-indent: 4px;
}

.searchResults__moreLink {
  font-size: 18px;
}

/* Main Section Activities */

.activities {
  margin: 25px 0;
  padding: 0 5%;
}

.activities__container {
  flex-flow: column nowrap;
}

.activities__link {
  margin-bottom: 7%;
}

.activities__cardImg {
  height: 134px;
}

.activities__cardTitle {
  padding: 5% 4% 3.5% 5%;
}

/*------------------------------------------------*/
/*                     FOOTER                     */
/*------------------------------------------------*/
