/*------------------------------------------------*/
/*                     RESET                      */
/*------------------------------------------------*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10px div by def of 16px ==>> 62.5% */
  /* 100% is better for zoom consistence */
  font-size: 100%;
}

body {
  box-sizing: border-box;
}

/*------------------------------------------------*/
/*                     GENERAL STYLES             */
/*------------------------------------------------*/

:root {
  --color-page-bg: #f2f2f2;
  --color-text: #000000;
  --color-primary: #0065fc;
  --color-secondary: #deebff;
  --color-border: #d9d9d9;
  --color-primary-shadow: rgba(216, 216, 216, 0.3);
  --color-secondary-shadow: rgba(190, 190, 190, 0.3);
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 30 px;
  color: var(--color-text);
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 43px;
}

h3 {
  font-size: 34px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
}

/*------------------------------------------------*/
/*                     HEADER                     */
/*------------------------------------------------*/

.siteHeader {
  display: flex;
  justify-content: space-between;
}

.siteLogo {
  margin-top: 87px;
}

.siteNav {
  margin-top: 97px;
}

.siteNav__list {
  display: flex;
}

.siteNav__link {
  padding-top: 93px;
  padding-right: 10px;
  /* padding: 99px 59px 0 44px; */
  border-top: #0065fc 4px solid;
}
