@media screen and (max-width: 992px) {
  /*------------------------------------------------*/
  /*                     GENERAL STYLES             */
  /*------------------------------------------------*/
  body {
    font-size: 16px;
  }

  h1,
  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 18px;
  }

  .pageWrapper {
    margin: 0 2vw;
  }

  /*------------------------------------------------*/
  /*                     HEADER                     */
  /*------------------------------------------------*/

  .siteLinkHome {
    padding: 32px 0 0 18px;
  }

  .siteLogo {
    height: 52px;
  }

  .siteNav__list {
    margin: 39px 0 4px 0;
  }

  .siteNav__link {
    padding: 39px 28px 4px 37px;
  }
}

/*------------------------------------------------*/
/*                     MAIN                       */
/*------------------------------------------------*/
/* Main Section Search */
.sectionSearch {
  margin-top: 37px;
}

.sectionSearch__pageTitle {
  margin: 14px 0;
}

.form {
  margin-top: 30px;
}

.inputGroup__iconMarker {
  padding: 18px 22px;
  font-size: 22px;
  border-radius: 20px 0 0 20px;
}

.inputGroup__text {
  padding: 16px 10px;
  font-size: 21px;
  max-width: none;
}

.inputGroup__btn {
  border-radius: 0 20px 20px 0;
}

.-btnText {
  font-size: 21px;
  padding: 17px;
}

.filterGroup {
  margin-top: 21px;
}

.filterGroup__title {
  font-size: 21px;
}

.filterGroup__item {
  font-size: 20px;
  padding: 16px 25px 16px 72px;
}

.filterGroup__item::before {
  width: 58px;
  height: 58px;
  font-size: 20px;
  padding-top: 18px;
  padding-left: 18px;
}

.filterGroup__item:nth-child(2)::before {
  padding-left: 21px;
}

.filterGroup__item:nth-child(3)::before {
  padding-left: 19px;
}

.infoGroup {
  margin-top: 39px;
}

.infoGroup__hostNbr::before {
  width: 28px;
  height: 28px;
  font-size: 16px;
  padding: 7px 12px;
}
/* Main Section Results */
/* Hosts */
.sectionResult {
  margin-top: 40px;
  flex-direction: column-reverse;
}

.searchResults {
  background-color: #fff;
  margin-right: 0;
}

.mostPopular__img {
  width: 170px;
  min-width: 170px;
  height: 156px;
}

.mostPopular__info {
  padding: 2.5% 6.6% 2% 5%;
  min-width: 100px;
}

.mostPopular__price,
.cardsContainer__price {
  font-size: 16px;
}

.cardsContainer__hostRate {
  font-size: 16px;
}

.mostPopular__hostRate {
  font-size: 15px;
}

.mostPopular__titleIcon {
  font-size: 22px;
}

.cardsContainer__link {
  flex: 1 1 40%; /* grow shrink basis */
}

.searchResults__more {
  margin-top: 30px;
  text-indent: 4px;
}

.searchResults__moreLink {
  font-size: 21px;
}
/* Most Popular */
/* Main Section Activities */
/*------------------------------------------------*/
/*                     FOOTER                     */
/*------------------------------------------------*/
